{% extends "base.html" %}
{% block start %}
   <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">REPORT CARD</a>
    </div>
  </nav>
   <div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <h2>Login</h2>
        {% if messages %}
        <div class="alert alert-primary" role="alert">
            {% for i in messages %}
                {{i}}
            {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" name="username"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>
          <p> don't have account create one <a href="/register_page/">register</a></p>
          <button type="submit" class="btn btn-primary">Submit</button>        
      </form>
      <br>
   </div>
{% endblock %}